.reveal .slide-number {
  font-size: 26px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .3);
}

.reveal .slides {
  border: 1.5px #ddd solid;
  border-radius: 7px;
  text-align: left;
  font-weight: 400;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4 {
  font-family: 'Segoe UI', Tahoma, Geneva, 'SimHei', 'STXihei';
  font-weight: 400;
}

.reveal p, .reveal li, .reveal center {
  font-size: 32px;
  font-family: 'Segoe UI', Tahoma, Geneva, 'STHeiti', 'SimHei' ;
  font-weight: 400;
}

.reveal li + li {
  margin-top: 10px;
}

.reveal ul {
  display: block;
  margin-right: 15px;
}

.reveal p, .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5 {
  padding:  20px 25px 20px 25px;
}

.reveal table {
  font-size: 32px;
  font-family: 'Segoe UI', Tahoma, Geneva, 'STHeiti', 'SimHei';
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 500;
}

.reveal th {
  background-color: #eee;
}

.reveal tr:nth-child(even) {
  background-color: #efffff;
}

.reveal h1 {
  text-align: center;
  margin: 0 0 20px 0;
  color: #222;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: normal;
}

.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-align: left;
  margin: 0 0 20px 0;
  color: #222;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: normal;
}

.reveal h1 {
  margin: 0 10 0 10;
  font-size: 60px;
  display: flex;
  text-align: center;
  align-items: center
}
.reveal .middle h1 {
    display: flex;
    text-align: center;
    align-items: center;
    text-align: center;
    width: 100%;
    justify-content: center;
}

.reveal h2 {
  font-size: 48px;
  border-bottom: 2px solid rgb(106, 0, 95);
  padding-bottom: 5px;
  padding-top: 10px;
}
.reveal h3 { font-size: 1.15em; }
.reveal h4 { font-size: 1.05em; }

.reveal .center {
  text-align: center;
}

.reveal .middle {
  height: 728px;
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.reveal pre {
  font-size: 28px;
  background-color: #eee;
  border-radius: 3mm;
  padding: 10px 10px 10px 10px;
}

.reveal pre code {
  max-height: none;
}

.reveal code {
  font-family: 'Courier New', 'STKaiti', 'KaiTi', 'Segoe UI', Tahoma, Geneva, Monospace;
}

.reveal .middle blockquote {
  text-align: center;
  color: rgb(106, 0, 95);
  background: rgb(10, 10, 10);
  box-shadow: 5px 10px #888888;
}

.reveal .middle blockquote a {
  color: inherit;
}

.reveal blockquote p, .reveal blockquote li {
  font-family: 'Segoe UI', Tahoma, Geneva, 'STKaiti', 'KaiTi', 'Segoe UI', Tahoma, Geneva;
  box-shadow: 1px 2px 6px 0px rgb(167 102 242);
  font-weight: 100;

  margin: 30px;
}

section{
  top: auto !important;

}

section .center {
  
  margin-left: auto;
  margin-right: auto;
}

.reveal .author-block {
  margin: 75px 0 35px 0;
}
.reveal .author-affiliation img {
  margin: 15px 0 0 0;
}

.reveal a {
    position: relative;
    text-decoration: none;
    color: mediumblue;
}

.reveal .author-block p, .reveal .author-affiliation p  {
  font-family: 'Kaiti', 'STKaiti', 'Serif', 'Times', 'Times New Roman';
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.reveal .author-affiliation {
  display: inline-block;
  font-size: 90%;
}
.reveal hr {
  border: 10px solid white;
}
.reveal li {
  margin-top: 10px;
  margin-left: 50px;
}

.float-right {
  float: right
}
.float-left {
  float: left
}
